/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:400;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.14 'Microsoft YaHei';color:#333;outline:0;}
body{background:#F6F6F6;}
a{color:#333;}
a:hover{color:#39a030;}
.f-cb:after{content:'.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.f-cb{zoom:1;}

/*@media screen and (min-width: 1205px){}*/
html{
    cursor: default;
}
.g-flow {
    width: 1205px;
    margin: 0 auto;
}

.g-mn2c {
    float: left;
    margin-right: 245px;
}

.g-mn2 {
    float: left;
    width: 100%;
}

.u-cover {
    float: left;
    margin: 0 0 20px 20px;
    width: 225px;
    height: 228px;    
    background-color: #fff;
}

.u-cover .wrap {
    display: block;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.u-cover .wrap:hover{
    box-shadow: 0px 0px 2px 0px rgba(12, 4, 8, 0.3);
}

.u-cover .imgpic {
    width: 223px;
    height: 124px;
    padding: 1px;
}

.u-cover .tt {
    height: 13px;
    padding: 5px;
}

.f-oh {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.f-fs0 {    
    font-size: 12px;
}

.u-cover .orgname {
    height: 13px;
    padding: 5px;
    color: #999999;
}

.u-cover .num {
    padding: 5px;
}

.u-cover .hot {
    display: block;
    width: 40px;
    height: 18px;
    background: url(images/Group2Objects.png);
}

.u-cover .price {
    padding: 5px 6px;
}

.u-cover .pri {
    height: 11px;
    color: #ff3f00;
}

.m-data-lists {
    margin-left: -20px;
    margin-bottom: -20px;
}

.m-pager {
    float: right;
    padding: 30px 0;
}

.m-pager{
    line-height: 20px;
}
.m-pager .prv,.m-pager .nxt {
    width: 30px;
    height: 20px;
    text-indent: -9999px;
}
.m-pager .prv{
    background:#9dd8b1 url(images/a.png) no-repeat center;
}
.m-pager .nxt{
    background:#9dd8b1 url(images/b.png) no-repeat center;
}
.m-pager a{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    text-align: center;
}

.m-nav {
    margin-bottom: 30px;
    font-size: 20px;
}

.m-nav .item {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666666;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(6, 0, 1, 0.2);
}

.m-nav .selected {
    color: #fff;
    background-color: #39a030;
}

.m-pager .pg:hover {
    color: #fff;
    background-color: #9dd8b1;
}

.m-pager .selected,.m-pager .selected:hover {
    color: #10ae58;
    background: none;
    cursor: default;
}

.m-pager .f-dis {
    cursor: default;
    background-color: #ddd;
}

.m-data-lists .f-templete{
    display: none;
}

.g-sd2 {
    float: right;
    width: 223px;
    margin-left: -223px;
}

.m-advertise {
    width: 223px;
    height: 229px;
    box-shadow: 0px 1px 1px 0px rgba(6, 0, 1, 0.2);
    background: #fff;
}

.u-tit {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #dddddd;
}



.m-advertise .text {
    padding: 20px 23px 9px;
    color: #666666;
}

.m-toplit .imgpic {
    float: left;
}

.m-advertise .playbox {
    position: relative;
    text-align: center;
}

.m-advertise .play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    border: 4px solid rgba(255,255,255,0.4);
    cursor: pointer;
    background: url(images/%E5%BD%A2%E7%8A%B6-55.png) no-repeat center center;
}

.m-advertise .icon {
    width: 14px;
    height: 18px;
}

.m-top {
    width: 223px;
    margin-top: 21px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(6, 0, 1, 0.2);
}

.m-toplit .item {
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.m-toplit .tt {
    margin-left: 60px;
}

.m-toplit .num {
    margin: 10px 0 0 60px;
    width: 53px;
    height: 17px;
    background:url(images/abc.png) no-repeat;
}

.m-tips {
    height: 36px;
    background-color: #f3f3f3;    
    font-size: 12px;
}

.g-content {
    width: 1202px;
    margin: 0 auto;
}

.m-tips .text {
    display: inline;
    line-height: 36px;
}

.m-tips .more {
    color: #21a557;
}

.u-notips {
    float: right;
    line-height: 36px;
    width: 63px;
    text-align: right;
    background: url(images/close.png) no-repeat 0 center;
    cursor: pointer;
}
